<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
<!--dygraphs-->
<script type="text/javascript" src="../static/bower_components/dygraphs/dygraph-combined-dev.js"></script>
<!--dygraphs synchronizer--><!--cannot put before dygraph-combined-dev.js-->
<!--copy latest version from github-->
<script type="text/javascript" src="../static/extras/synchronizer.js"></script>

  <style>
  #resizable { width: 150px; height: 150px; padding: 0.5em; }
  #resizable h3 { text-align: center; margin: 0; }
  </style>

</head>

<body>

<form id="mlineform">
    <div id="div5"  style="background-color:red;color:black" class="col-md-5">
        <ul></ul>
    </div>
    Width :<input type="number" name= "width" value="1700" step=50 style="width: 50px;"/>px<br/>
    Height :<input type="number" name= "height" value="600" step=50 style="width: 50px;"/>px<br/>
    <input type="checkbox" name="rangeselector" value=true checked = true>Sow range selector<br/>
    <input type="submit" value="query" id="mline"/>
</form> 
    
<button id=b>click</button>    
    
<script type=text/javascript>
if (!String.prototype.format) {
    String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
        return typeof args[number] != 'undefined'
          ? args[number]
          : match
        ;
        });
    };
}
    
var i = 0;
var gs=[];  
 $('#b').on('click', function() {
     
       var d=`<div id = "dy{0}" className="few" style="width:{1}px;height:{2}px;"></div>
        <form>
          <input type="button" name="dy{0}" value="raw"/>
          <input type="button" name="dy{0}" value="normalize"/>
          <input type="button" name="dy{0}" value="remove"/>
        </form>`.format(i, $('#mlineform input[name="width"]').val(), $('#mlineform input[name="height"]').val());

        $('#tabs-2').append(d);
        
     
        var id= 'dy'+i; 
        console.log(id);
         
           gs.push(new Dygraph(document.getElementById(id),
                [
                  [1,10,100,10],
                  [2,20,'NaN',30],
                  [3,'NaN',60,40],
                  [4,70,80,20]
                ],
                {
                  labels: [ "x", "A", "B", "C" ],
                showRangeSelector: null
                }));
  i+=1;   
     })



</script>
<div id='tabs-2'></div>

</body>

</html>
