<!DOCTYPE html>
<html>
<head>
  <title>flask</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "import.html" %}
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  <!--myjsfile-->
  <script>
    $( function() {
        // $( "#tabs" ).tabs(); //tabs() cannot be put at the end of this file
        // for sparline to work in tabs
        $( "#tabs").tabs({
            activate: function( event, ui ) {
                $.sparkline_display_visible();
                }
        });
    } );
  </script>
  {% include "index.html" %}
  <script>
  //$( function() {
  //    $('a[href={{d.tab|safe}}]').click();
  //} );
  </script>
  <style>
      li { list-style-type: none; margin: 0; padding: 0;}
      #div4 li { display: inline;}
      #div7 li { display: inline;}
      #div11 li { display: inline;}
      a {float: right; color: blue;}
      .inline { float:left; }
      /*#div13 { display: inline;}*/
      /*#div12 input[type=checkbox] { display: none; }*/
      .few .dygraph-legend > span.highlight { border: 1px solid grey; }
      /*table { margin-left: 15px; }*/
      #inc, #bal { margin-left: 15px; }
  </style>
</head>
<body>
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabs-mline">mline</a></li>
        <li><a data-toggle="tab" href="#tabs-mlineOut">1.</a></li>
        <li><a data-toggle="tab" href="#tabs-plot1">plot1</a></li>
        <li><a data-toggle="tab" href="#tabs-plot1Out">2.</a></li>
        <li><a data-toggle="tab" href="#tabs-split">split</a></li>
        <li><a data-toggle="tab" href="#tabs-splitOut">3.</a></li>
        <li><a data-toggle="tab" href="#tabs-ys">ys</a></li>
        <li><a data-toggle="tab" href="#tabs-ysOut">4.</a></li>
        <li><a data-toggle="tab" href="#tabs-report">report</a></li>
        <li><a data-toggle="tab" href="#tabs-report1">report1</a></li>
        <li><a data-toggle="tab" href="#tabs-income">income statement</a></li>
        <li><a data-toggle="tab" href="#tabs-balance">balance sheet</a></li>
        <li><a data-toggle="tab" href="#tabs-react">react</a></li>
        <li><a data-toggle="tab" href="#tabs-table">table</a></li>
        <li><a data-toggle="tab" href="#tabs-vue">vue</a></li>
    </ul>
  <!-- <div class="tab-content"> -->
    <div id="tabs-mline" class="tab-pane active">
        <div class="row">
            <div id='div0' style="background-color:pink;color:white;padding:10px;" class="col-md-4">
                <button>1</button>
                <button>2</button>
            </div>
            <div id='div1' style="background-color:purple;color:white;padding:10px;" class="col-md-4">
                <ul></ul>
            </div>
            <form action = "/test/" method = "POST">
                <div id='div2' style="background-color:black;color:white;padding:10px;" class="col-md-4">
                    <ul></ul>
                </div>
                <input type="submit" class='btn btn-default'/>
            </form>
        </div>

        <div class="row" id="div3">
            <div style="background-color:blue;color:yellow" class="col-md-2">
                <form id = "listfieldform">
                    <h4>mops</h4>
                    <div v-for="item in mops">
                        <input type="radio" name="dbtable" v-bind:value="item">${ item }
                    </div>
                    <h4>mysum</h4>
                    <div v-for="item in mysum">
                        <input type="radio" name="dbtable" v-bind:value="item">${ item }
                    </div>
                    <h4>summary</h4>
                    <div v-for="item in summary">
                        <input type="radio" name="dbtable" v-bind:value="item">${ item }
                    </div>
                    <h4>tse</h4>
                    <div v-for="item in tse">
                        <input type="radio" name="dbtable" v-bind:value="item">${ item }
                    </div>
                    <input type="submit" value="Show fields" class='btn btn-default'>
                </form>
            </div>
            <script>
            new Vue({
              el: '#listfieldform',
              delimiters: ['${', '}'],
              data: {
                mops:{{d.mops|safe}},
                mysum:{{d.mysum|safe}},
                summary:{{d.summary|safe}},
                tse:{{d.tse|safe}},
              }
            })
            </script>
            <div id="div4" style="background-color:green;color:black" class="col-md-5">
            <script>
            $(function() {
                $('#div3 form input[type="submit"]').on('click', function() {
                    $.getJSON($SCRIPT_ROOT + '/listfieldajax/', {
                    data: $("#listfieldform").serialize(),
                    }, function(data) {
                        let roots = data.fields.map(x =>`<li><button class='btn btn-info'>${x}</button></li>`);
                        document.getElementById("div4").innerHTML = `<ul>${roots.join('')}</ul>`;
                    });
                return false;
                });
            });
            </script>
            </div>
            <form id="mlineform">
            <!--<form action = "/mlinehighchart/" method = "POST">-->
                <div id="div5"  style="background-color:red;color:black" class="col-md-5">
                    <ul></ul>
                </div>
                Width :<input type="number" name= "width" value="1700" step=50 style="width: 50px;"/>px<br/>
                Height :<input type="number" name= "height" value="300" step=50 style="width: 50px;"/>px<br/>
                <input type="checkbox" name="rangeselector" value=true checked = true>Sow range selector<br/>
                <input type="submit" value="query" id="mline"/>
            </form>

        </div>
    </div>
    <div id="tabs-mlineOut" class="tab-pane">
        {% include "mlineajax.html" %}
    </div>
    <div id="tabs-plot1" class="tab-pane">
        <div class="row">
            <div id=div6 style="background-color:blue;color:yellow" class="col-md-2">
              <form id = "listfield3form">
                  <h4>mops</h4>
                  <div v-for="item in mops">
                      <input type="radio" name="dbtable3" v-bind:value="item">${ item }
                  </div>
                  <h4>mysum</h4>
                  <div v-for="item in mysum">
                      <input type="radio" name="dbtable3" v-bind:value="item">${ item }
                  </div>
                  <h4>summary</h4>
                  <div v-for="item in summary">
                      <input type="radio" name="dbtable3" v-bind:value="item">${ item }
                  </div>
                  <h4>tse</h4>
                  <div v-for="item in tse">
                      <input type="radio" name="dbtable3" v-bind:value="item">${ item }
                  </div>
                  <input type="submit" value="Show fields" class='btn btn-default'>
              </form>
            </div>
            <script>
              new Vue({
                el: '#listfield3form',
                delimiters: ['${', '}'],
                data: {
                  mops:{{d.mops|safe}},
                  mysum:{{d.mysum|safe}},
                  summary:{{d.summary|safe}},
                  tse:{{d.tse|safe}},
                }
              })
            </script>
            <script>
              $(function() {
                  $('#div6 form input[type="submit"]').on('click', function() {
                      $.getJSON($SCRIPT_ROOT + '/listfield3ajax/', {
                      data: $("#listfield3form").serialize(),
                      }, function(data) {
                          var roots = data.fields3.map(x => `<li><button class='btn btn-info' name='plot1' value=${x}>${x}</button></li>`);
                          var y = document.getElementById("div7");
                          y.innerHTML = `<ul>${roots.join('')}</ul>`;
                      });
                  return false;
                  });
              });
            </script>
            <div id=div7 style="background-color:green;color:black" class="col-md-5">
                <!--<form action = "/plot1/" method = "POST">-->
                    <!--<ul>-->
                        <!--{% for item in d.fields %}-->
                        <!--<li><input class='btn btn-default' type = "submit" name="plot1" value="{{ item }}"/></li>-->
                        <!--{% endfor %}-->
                    <!--</ul>-->
                <!--</form>-->
            </div>
            <div id=div8  style="background-color:red;color:black" class="col-md-5">
                <ul></ul>
            </div>
        </div>

    </div>
    <div id="tabs-plot1Out" class="tab-pane">
      <div id=div9>
          {% include "plot1ajax.html" %}
      </div>
    </div>
    <div id="tabs-split" class="tab-pane">
        <div class="row">
            <div id=div10 style="background-color:blue;color:yellow" class="col-md-2">
                <!--<form action = "/listfield1/" method = "POST">-->
                <form id="listfield1form">
                    <h4>mops</h4>
                    <div v-for="item in mops1">
                        <input type="radio" name="dbtable1" v-bind:value="item">${ item }
                    </div>
                    <h4>mysum</h4>
                    <div v-for="item in mysum1">
                        <input type="radio" name="dbtable1" v-bind:value="item">${ item }
                    </div>
                    <h4>summary</h4>
                    <div v-for="item in summary1">
                        <input type="radio" name="dbtable1" v-bind:value="item">${ item }
                    </div>
                    <h4>tse</h4>
                    <div v-for="item in tse1">
                        <input type="radio" name="dbtable1" v-bind:value="item">${ item }
                    </div>
                    <input type="submit" value="Show fields" class='btn btn-default'>
                </form>

            </div>
            <div id=div11 style="background-color:green;color:black" class="col-md-5">
            <script>
              new Vue({
                el: '#listfield1form',
                delimiters: ['${', '}'],
                data: {
                  mops1:{{d.mops1|safe}},
                  mysum1:{{d.mysum1|safe}},
                  summary1:{{d.summary1|safe}},
                  tse1:{{d.tse1|safe}},
                }
              })
            </script>
            <script>
            $(function() {
                $('#div10 form input[type="submit"]').on('click', function() {
                    $.getJSON($SCRIPT_ROOT + '/listfield1ajax/', {
                    data: $("#listfield1form").serialize(),
                    }, function(data) {
                        var roots = data.fields1.map(x => `<li><button class='btn btn-info'>${x}</button></li>`);
                        var y = document.getElementById("div11");
                        y.innerHTML = `<ul>${roots.join('')}</ul>`;
                    });
                return false;
                });
            });
            </script>
            </div>
            <!-- <form action = "/mp/" method = "POST">    div should be inside form -->
            <form id = "mpform">
            <div id=div12  style="background-color:red;color:black" class="col-md-5">
                <ul>
                    {% for item in d.cols1 %}
                    <li><button class='btn btn-default'>{{ item }}</button></li>
                    {% endfor %}
                    {% for item in d.cols3 %}
                    <input type=checkbox name=cols1 class={{ item[1] }} value={{ item[0] }} checked = true/>
                    {% endfor %}
                </ul>
                <input type="submit" value="query"/>
            </div>
            </form>
        </div>

    </div>
    <div id="tabs-splitOut" class="tab-pane">
      <div id=div13>
      {% include "mpajax.html" %}
      </div>
    </div>

    <div id="tabs-ys" class="tab-pane">

        <div class="row">
            <div id=div14 style="background-color:blue;color:yellow" class="col-md-2">
                <!--<form action = "/listfield2/" method = "POST">    should contain '/' in tail-->
                <form id = "listfield2form">
                    <h4>mops</h4>
                    <div v-for="item in mops">
                        <input type="radio" name="dbtable2" v-bind:value="item">${ item }
                    </div>
                    <h4>mysum</h4>
                    <div v-for="item in mysum">
                        <input type="radio" name="dbtable2" v-bind:value="item">${ item }
                    </div>
                    <h4>summary</h4>
                    <div v-for="item in summary">
                        <input type="radio" name="dbtable2" v-bind:value="item">${ item }
                    </div>
                    <h4>tse</h4>
                    <div v-for="item in tse">
                        <input type="radio" name="dbtable2" v-bind:value="item">${ item }
                    </div>
                    <input type="submit" value="Show fields" class='btn btn-default'>

                </form>
            </div>
            <div id=div15 style="background-color:green;color:black" class="col-md-5">
                <script>
                  new Vue({
                    el: '#listfield2form',
                    delimiters: ['${', '}'],
                    data: {
                      mops:{{d.mops|safe}},
                      mysum:{{d.mysum|safe}},
                      summary:{{d.summary|safe}},
                      tse:{{d.tse|safe}},
                    }
                  })
                </script>
                <script>
                $(function() {
                    $('#div14 form input[type="submit"]').on('click', function() {
                        $.getJSON($SCRIPT_ROOT + '/listfield2ajax/', {
                        data: $("#listfield2form").serialize(),
                        }, function(data) {
                            var roots = data.fields2.map(x => `<li><button class='btn btn-info'>${x}</button></li>`);
                            var y = document.getElementById("div15");
                            y.innerHTML = `<ul>${roots.join('')}</ul>`;
                        });
                    return false;
                    });
                });
                </script>
            </div>

            <!--<form action = "/ys/" method = "POST">-->
            <!--div should be inside form-->
            <form id = "ysform">
                <div id=div16  style="background-color:red;color:black" class="col-md-5">
                    <ul></ul>
                </div>
                {% if d.mllys is defined %}
                    {% if d.mllys !=[] %}
                    公司代號:<input type="text" name=compid value="{{d.mllys[-1][2]|safe}}"/>
                    {% else %}
                    公司代號:<input type="text" name=compid value="5522"/>
                    {% endif %}
                {% else %}
                    公司代號:<input type="text" name=compid value="5522"/>
                {% endif %}
                <input type="submit" value="query"/>
            </form>
            <!--<form action = "/changeall/" method = "POST">-->
            <form id = "changeallform">
                公司代號:<input type="text" name='compid1'/>
                <input type="submit" value="change all"/>
            </form>
            {% include "changeallajax.html" %}
        </div>

    </div>
    <div id="tabs-ysOut" class="tab-pane">
        <div id="div17" class="row">

        </div>
        {% include "ysajax.html" %} <!--don't put this in div-->
    </div>
    <div id="tabs-report" class="tab-pane">
        {% include "reportajax.html" %}
    </div>

    {% include "tableajax2.html" %}

  <!--</div>-->
    <div id="tabs-react" class="tab-pane active">
        <div id="root"></div>
        <div id="root1"></div>
        <div id="root2"></div>
        <script type="text/babel">
          ReactDOM.render(
            <div className="test"><h1>Hello, world!</h1></div>
          ,
            document.getElementById('root1')
          );
        </script>
        <script type="text/babel">
          ReactDOM.render(
            <div>
            <h4>mops</h4>
            {% for item in d.mops %}
            <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
            {% endfor %}
            </div>
            ,
            document.getElementById('root2')
          );
        </script>

    </div>
    <div id="tabs-table" class="tab-pane">

    </div>
    <div id="tabs-vue" class="tab-pane">
        {% include "vue.html" %}
    </div>

  </div>
  <div id="ex3">
  <child message="hello!" a='wo'></child>
  </div>
  <script>
    Vue.component('child', {
      // declare the props
      props: ['message','a'],
      delimiters: ['${', '}'],
      // just like data, the prop can be used inside templates
      // and is also made available in the vm as this.message
      template: '<span>${ message }${ a }</span>'
    })
    new Vue({
      el: '#ex3',
    })

  </script>
{% include "bottom.html" %}
</body>
</html>
