<!DOCTYPE html>
<html>
<head>

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--jquery-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script type="text/javascript" src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>-->
<!--do not use jquery-3.1.1-->
<!--<script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>-->
<!-- <script type="text/javascript" src="../static/jQuery-2.2.3/jquery-2.2.3.min.js"></script> -->
<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>

<!--bootstrap-->
<!--need jquery-->
<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!--dygraphs-->
<!--<script type="text/javascript" src="{{url_for('static', filename='dygraph-combined-dev.js')}}"></script>-->
<!-- <script type="text/javascript" src="../static/dygraph-combined-dev.js"></script> -->
<script type="text/javascript" src="../static/bower_components/dygraphs/dygraph-combined-dev.js"></script>
<!--dygraphs synchronizer--><!--cannot put before dygraph-combined-dev.js-->
<!--<script type="text/javascript" src="{{url_for('static', filename='extras/synchronizer.js')}}"></script>-->
<!--copy latest version from github-->
<script type="text/javascript" src="../static/extras/synchronizer.js"></script> <!--this version can synchronize x without synchronizing y-->
<!--<script type="text/javascript" src="../static/bower_components/dygraphs/extras/synchronizer.js"></script>-->

<!--jquery-ui-->
<!--<link rel="stylesheet" href="{{url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='jquery-ui-1.12.1/external/jquery/jquery.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>-->
<!-- <link rel="stylesheet" href="../static/jquery-ui-1.12.1/jquery-ui.min.css">
<script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
<script src="../static/jquery-ui-1.12.1/jquery-ui.min.js"></script> -->
<link rel="stylesheet" href="../static/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
<!-- <script src="../static/bower_components/jquery-ui/external/jquery/jquery.js"></script> -->
<script src="../static/bower_components/jquery-ui/jquery-ui.min.js"></script>

<!--react-->
<script src="https://unpkg.com/react@latest/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

<!--datatable-->
<!--need to load jqeury first unless download package include jquery-->
<!--need to download extentions like fixedColumns, fixedHeader, responsive-->
<!--useless when put here-->

<!--sparkline-->
<script type="text/javascript" src="../static/jquery.sparkline.js"></script>
<!-- <script type="text/javascript" src="../static/bower_components/sparklines/source/sparkline.js"></script> -->

<!--highstock--><!--need to put before highcharts-->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<!--highcharts-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<!--myjsfile-->

<script>
  $( function() {
      // $( "#tabs" ).tabs(); //tabs() cannot be put at the end of this file
      // for sparline to work in tabs
      $( "#tabs").tabs({
          activate: function( event, ui ) {
              $.sparkline_display_visible();
              }
      });
  } );

</script>

{% include "index.html" %}


<style>
    li { list-style-type: none; margin: 0; padding: 0;}
    #div4 li { display: inline;}
    #div7 li { display: inline;}
    #div11 li { display: inline;}
    a {float: right; color: blue;}
    .inline { float:left; }
    /*#div13 { display: inline;}*/
    /*#div12 input[type=checkbox] { display: none; }*/

    .few .dygraph-legend > span.highlight { border: 1px solid grey; }
    /*table { margin-left: 15px; }*/
    #inc, #bal { margin-left: 15px; }
</style>
<script>
//$( function() {
//    $('a[href={{d.tab|safe}}]').click();
//} );
</script>

<script type="text/javascript">
$(function() {
    /** This code runs when everything has been loaded on the page */
    /* Inline sparklines take their values from the contents of the tag */
    $('.inlinesparkline').sparkline();

    /* Sparklines can also take their values from the first argument
    passed to the sparkline() function */
    var myvalues = [10,8,5,null,4,4,1];
    $('.dynamicsparkline').sparkline(myvalues, {width:'100px'});

    /* The second argument gives options such as chart type */
    $('.dynamicbar').sparkline(myvalues, {type: 'bar', barColor: 'green', width:'10px'} );

    /* Use 'html' instead of an array of values to pass options
    to a sparkline with data in the tag */
    $('.inlinebar').sparkline('html', {type: 'bar', barColor: 'red'} );
});
</script>
<!--<script>-->
    <!--if (!String.prototype.format) {-->
      <!--String.prototype.format = function() {-->
        <!--var args = arguments;-->
        <!--return this.replace(/{(\d+)}/g, function(match, number) {-->
          <!--return typeof args[number] != 'undefined'-->
            <!--? args[number]-->
            <!--: match-->
          <!--;-->
        <!--});-->
      <!--};-->
    <!--}-->

<!--$(document).ready(function(){-->
    <!--var k=1;-->
    <!--$('#b').click(function(){-->
        <!--alert(0);-->
        <!--var d1=`<div id = "dy{0}" className="few"></div>-->
            <!--<form>-->
                <!--<input type="submit" name="dy{0}" value="raw"/>-->
                <!--<input type="submit" name="dy{0}" value="normalize"/>-->
                <!--<input type="submit" name="dy{0}" value="remove"/>-->
            <!--</form>`.format(k)-->
        <!--$('#tabs-13').append(d1);-->
        <!--$("#tabs-13 form").on('click', 'input', fa);-->
        <!--var id="dy"+k;-->
        <!--$(function () {-->
            <!--Highcharts.chart(id, {-->

                <!--chart: {-->
                    <!--type: 'line'-->
                <!--},-->

                <!--title: {-->
                    <!--text: 'Data input as column arrays'-->
                <!--},-->
                <!--plotOptions: {-->
                    <!--series: {-->
                        <!--connectNulls: true // by default-->
                    <!--}-->
                <!--},-->
                <!--data: {-->
                    <!--columns: [-->
                        <!--['time', 1, 2, 3, 4], // categories-->
                        <!--['a', 1, 2, 3, 4], // first series-->
                        <!--['b', 5,4 , 'null', 2] // second series-->
                    <!--]-->
                <!--}-->
            <!--});-->
        <!--});-->
        <!--k+=1;-->
        <!--alert(1);-->
    <!--});-->
<!--})-->

<!--</script>-->
<script>

function fa(){
  alert($(this).attr('name'));
  alert($(this).attr('value'));
}

</script>


</head>
<body>
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabs-1">data</a></li>
        <li><a data-toggle="tab" href="#tabs-2">mline</a></li>
        <li><a data-toggle="tab" href="#tabs-3">plot1</a></li>
        <li><a data-toggle="tab" href="#tabs-4">bokeh</a></li>
        <li><a data-toggle="tab" href="#tabs-5">split</a></li>
        <li><a data-toggle="tab" href="#tabs-6">mlinetable</a></li>
        <li><a data-toggle="tab" href="#tabs-7">ys</a></li>
        <li><a data-toggle="tab" href="#tabs-8">report</a></li>
        <li><a data-toggle="tab" href="#tabs-9">income statement</a></li>
        <li><a data-toggle="tab" href="#tabs-10">balence sheet</a></li>
        <li><a data-toggle="tab" href="#tabs-11">react</a></li>
        <li><a data-toggle="tab" href="#tabs-12">table</a></li>
        <li><a data-toggle="tab" href="#tabs-13">highchart</a></li>
    </ul>
  <!-- <div class="tab-content"> -->
    <div id="tabs-1" class="tab-pane active">
        <div class="row">
            <div id='div0' style="background-color:pink;color:white;padding:10px;" class="col-md-4">
                <button>1</button>
                <button>2</button>
            </div>

            <div id='div1' style="background-color:purple;color:white;padding:10px;" class="col-md-4">
                <ul></ul>
            </div>
            <form action = "/test/" method = "POST">
                <div id='div2' style="background-color:black;color:white;padding:10px;" class="col-md-4">
                    <ul></ul>
                </div>
                <input type="submit" class='btn btn-default'/>
            </form>
        </div>

        <div class="row" id="tab1row2">
            <div id=div3 style="background-color:blue;color:yellow" class="col-md-2">
              <script type="text/babel">
              const element = (
                <form action = "/listfield/" method = "POST">
                    <h4>mops</h4>
                    {% for item in d.mops %}
                    <input type="radio" name="dbtable" value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>mysum</h4>
                    {% for item in d.mysum %}
                    <input type="radio" name="dbtable" value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>summary</h4>
                    {% for item in d.summary %}
                    <input type="radio" name="dbtable" value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>tse</h4>
                    {% for item in d.tse %}
                    <input type="radio" name="dbtable" value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <input type="submit" value="Show fields" class='btn btn-default'/>
                </form>
              );
              ReactDOM.render(
                 element,
                 document.getElementById('div3')
              );
              </script>
            </div>
            <div id="div4" style="background-color:green;color:black" class="col-md-5">
              <script type="text/babel">
              const element1 = (
                <ul>
                    {% for item in d.fields %}
                    <li><button className='btn btn-info'>{{ item }}</button></li>
                    {% endfor %}
                </ul>
              );
              ReactDOM.render(
                 element1,
                 document.getElementById('div4')
              );
              </script>
            </div>
            <form id="mlineform">
            <!--<form action = "/mlinehighchart/" method = "POST">-->
                <div id="div5"  style="background-color:red;color:black" class="col-md-5">
                    <ul></ul>
                </div>
                Width :<input type="number" name= "width" value="1700" step=50 style="width: 50px;"/>px<br/>
                Height :<input type="number" name= "height" value="600" step=50 style="width: 50px;"/>px<br/>
                <input type="checkbox" name="rangeselector" value=true checked = true>Sow range selector<br/>
                <input type="submit" value="query" id="mline"/>
            </form>

        </div>

    </div>
    <div id="tabs-2" class="tab-pane">
    {% include "mlineajax.html" %}

    </div>
    <div id="tabs-3" class="tab-pane">
          <div class="row">
              <div id=div6 style="background-color:blue;color:yellow" class="col-md-2">
                <script type="text/babel">
                ReactDOM.render(
                   element,
                   document.getElementById('div6')
                );
                </script>
              </div>
              <div id=div7 style="background-color:green;color:black" class="col-md-5">
                  <form action = "/plot1/" method = "POST">
                      <ul>
                          {% for item in d.fields %}
                          <li><input class='btn btn-default' type = "submit" name="plot1" value="{{ item }}"/></li>
                          {% endfor %}
                      </ul>
                  </form>
              </div>
              <div id=div8  style="background-color:red;color:black" class="col-md-5">
                  <ul></ul>
              </div>
          </div>
        <div id=div9>

        {% include "plot1.html" %}
        {{d.labels1|safe}}
        </div>
    </div>
    <div id="tabs-4" class="tab-pane">

        {% include "bokeh.html" %}
        <!--{{d.div|safe}}-->
        {{d.script|safe}}

    </div>
    <div id="tabs-5" class="tab-pane">
        <div class="row">
            <div id=div10 style="background-color:blue;color:yellow" class="col-md-2">
                <form action = "/listfield1/" method = "POST">
                    <h4>mops</h4>
                    {% for item in d.mops1 %}
                    <input type="radio" name=dbtable1 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>mysum</h4>
                    {% for item in d.mysum1 %}
                    <input type="radio" name=dbtable1 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>summary</h4>
                    {% for item in d.summary1 %}
                    <input type="radio" name=dbtable1 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>tse</h4>
                    {% for item in d.tse1 %}
                    <input type="radio" name=dbtable1 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <input type="submit" value="Show fields" class='btn btn-default'/>
                </form>

            </div>
            <div id=div11 style="background-color:green;color:black" class="col-md-5">
                <ul>
                    {% for item in d.fields1 %}
                    <li><button class='btn btn-default'>{{ item }}</button></li>
                    {% endfor %}
                </ul>
            </div>

            <form action = "/mp/" method = "POST">    <!--div should be inside form-->
                <div id=div12  style="background-color:red;color:black" class="col-md-5">
                    <ul>
                        {% for item in d.cols1 %}
                        <li><button class='btn btn-default'>{{ item }}</button></li>
                        {% endfor %}
                        {% for item in d.cols3 %}
                        <input type=checkbox name=cols1 class={{ item[1] }} value={{ item[0] }} checked = true/>
                        {% endfor %}
                    </ul>
                </div>
                <input type="submit" value="query"/>
            </form>
        </div>
        <div id=div13>
            {% include "mp.html" %}
        </div>
    </div>
    <div id="tabs-6" class="tab-pane">

        <!-- <script type="text/babel">
        const element2 = (
          <table id="table_id" className="display">
              <thead>
                  <tr>
                      {% for item in d.labels %}
                      <th>{{item}}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  {% for item in d.data %}
                  <tr>
                      {% for i in item %}
                      <td>{{i}}</td>
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        );
        ReactDOM.render(
           element2,
           document.getElementById('tabs-6')
        );
        </script> -->

    </div>
    <div id="tabs-7" class="tab-pane">

        <div class="row">
            <div id=div14 style="background-color:blue;color:yellow" class="col-md-2">
                <form action = "/listfield2/" method = "POST">    <!--should contain '/' in tail-->
                    <h4>mops</h4>
                    {% for item in d.mops %}
                    <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>mysum</h4>
                    {% for item in d.mysum %}
                    <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>summary</h4>
                    {% for item in d.summary %}
                    <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <h4>tse</h4>
                    {% for item in d.tse %}
                    <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
                    {% endfor %}
                    <input type="submit" value="Show fields" class='btn btn-default'/>
                </form>
            </div>
            <div id=div15 style="background-color:green;color:black" class="col-md-5">
                <ul>
                    {% for item in d.fields2 %}
                    <li><button class='btn btn-default'>{{ item }}</button></li>
                    {% endfor %}
                </ul>
            </div>

            <form action = "/ys/" method = "POST">    <!--div should be inside form-->
                <div id=div16  style="background-color:red;color:black" class="col-md-5">
                    <ul></ul>
                </div>
                {% if d.mllys is defined %}
                    {% if d.mllys !=[] %}
                    公司代號:<input type="text" name=compid value={{d.mllys[-1][2]|safe}}/>
                    {% else %}
                    公司代號:<input type="text" name=compid value=5522/>
                    {% endif %}
                {% else %}
                    公司代號:<input type="text" name=compid value=5522/>
                {% endif %}
                <input type="submit" value="query"/>
            </form>
            <form action = "/changeall/" method = "POST">
                公司代號:<input type="text" name=compid1/>
                <input type="submit" value="change all"/>
            </form>
        </div>

        {% include "ys.html" %}

    </div>
    <div id="tabs-8" class="tab-pane">

        <form action = "/rep/" method = "POST">
            公司代號:<input type="text" name=compid_report value=5522/>
            <input type="submit" value="query"/>
        </form>

        {% if d.report is defined %}
        <h3 id=income>{{d.tb[0]}}>>>{{d.compid_report}}{{d.compname}}</h3>
        <a href=#balence style="display: inline;float: right;color:blue;position:fixed;">To balence sheet</a>
        <table id="report" class="table table-striped table-condensed table-sm table-hover display">
            <thead >
                <tr>
                    {% for i, j, k in d.report[0][0] %}
                    <th>{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in d.report[0][1:] %}
                <tr>
                    {% for i, j, k in item %}
                    <!--<td><div style="width:20px;background-color:blue;"><div style="width:{{j}}%;background-color:red;">{{i}}</div></div></td>-->
                    <td nowrap><div style="width:{{j}}%;background-color:{{k}};">{{i}}</div></td>
                    <!--<td><div>{{i}}</div></td>-->
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 id=balence>{{d.tb[1]}}>>>{{d.compid_report}}{{d.compname}}</h3>
        <a href=#income style="display: inline;float: right;color:blue;">To income statement</a>
        <table id="report1" class="table table-striped table-condensed table-sm table-hover display">
            <thead>
                <tr>
                    {% for i, j, k in d.report[1][0] %}
                    <th>{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in d.report[1][1:] %}
                <tr>
                    {% for i, j, k in item %}
                    <!--<td><div style="width:20px;background-color:blue;"><div style="width:{{j}}%;background-color:red;">{{i}}</div></div></td>-->
                    <td nowrap><div style="width:{{j}}%;background-color:{{k}};">{{i}}</div></td>
                    <!--<td><div>{{i}}</div></td>-->
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

       {% endif %}

    </div>

{% include "table.html" %}

  <!--</div>-->
    <div id="tabs-11" class="tab-pane active">
        <div id="root"></div>
        <div id="root1"></div>
        <div id="root2"></div>
        <script type="text/babel">
          ReactDOM.render(
            <div className="test"><h1>Hello, world!</h1></div>
          ,
            document.getElementById('root1')
          );
        </script>
        <script type="text/babel">
          ReactDOM.render(
        <div>
        <h4>mops</h4>
        {% for item in d.mops %}
        <input type="radio" name=dbtable2 value="{{ item }}"/>{{ item }}<br/>
        {% endfor %}

        </div>
          ,
            document.getElementById('root2')
          );
        </script>

    </div>
    <div id="tabs-12" class="tab-pane">


    </div>
    <div id="tabs-13" class="tab-pane">
        <!--{% include "highchart.html" %}-->
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="../static/bower_components/datatables/media/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="../static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../static/bower_components/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js"></script>
{% if d.report1 is defined %}

  <!-- <link rel="stylesheet" type="text/css" href="../static/datatables.min.css">
  <script type="text/javascript" src="../static/datatables.min.js"></script> -->

        <script>
        $(document).ready(function() {
            var table =$('#report2').DataTable( {
                colReorder: true,
                scrollY:        820,
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                searching: false,
                info:     false,
                ordering: false,
                //fixedColumns:   true,
                //fixedHeader: true,
                //aaSorting : []
                //"columnDefs": [
                //  { "orderable": false, "targets": 0 }
                //],
                //bSort : false
            } );

            var table1 =$('#report3').DataTable( {
                colReorder: true,
                scrollY:        820,
                scrollX:        true,
                scrollCollapse: true,
                paging:         false,
                searching: false,
                info:     false,
                ordering: false,
                //fixedColumns:   true,
                //fixedHeader: true,
                //aaSorting : []
                //"columnDefs": [
                //  { "orderable": false, "targets": 0 }
                //],
                //bSort : false
            } );

             $('#enable').click( function (e) {

             alert(1);
            //table.colReorder.reset();
                new $.fn.dataTable.FixedColumns( table, {
    //fixedColumns: false
    //fixedColumns: true
            });
        } );

               $('#enable1').click( function (e) {

             alert(1);
            //table.colReorder.reset();
                new $.fn.dataTable.FixedColumns( table1, {
    //fixedColumns: false
    //fixedColumns: true
            });
        } );


        } );

        </script>



{% endif %}

<script type=text/javascript>
  $(function() {
    $('a#calculate').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/ajax/', {
        aa: $('input[name="a"]').val(),
        bb: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result1*data.result2);
      });
      return false;
    });
  });
</script>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>

<!--<script type=text/javascript>-->
<!--if (!String.prototype.format) {-->
    <!--String.prototype.format = function() {-->
        <!--var args = arguments;-->
        <!--return this.replace(/{(\d+)}/g, function(match, number) {-->
        <!--return typeof args[number] != 'undefined'-->
          <!--? args[number]-->
          <!--: match-->
        <!--;-->
        <!--});-->
    <!--};-->
<!--}-->
<!--var i=1;-->
<!--$(function() {-->
<!--$('#b1').bind('click', function() {-->
    <!--var d=`<div id = "dy{0}" className="few">{0}</div>-->
      <!--<form action = "/scale1/" method = "POST">-->
          <!--<input type="submit" name="dy{0}" value="raw"/>-->
          <!--<input type="submit" name="dy{0}" value="normalize"/>-->
          <!--<input type="submit" name="dy{0}" value="remove"/>-->
      <!--</form>`.format(i)-->
  <!--$('#tabs-13').append(d);-->

  <!--$.getJSON($SCRIPT_ROOT + '/ajax1/', {-->
    <!--aa: $('#formajax').serialize()-->
  <!--}, function(data) {-->
    <!--$("#result1").text(data.result1);-->
  <!--});-->
  <!--i+=1;-->
  <!--return false;-->
<!--});-->
<!--});-->
<!--</script>-->

<h1>jQuery Example</h1>
<form id="formajax">
<input type=checkbox name="c1" value="x"> +
   <input type=checkbox name="c1" value="y"> =
   <button id=b1>answer</button>
</form>
    <div id="result1">??</div>

{{d.tab|safe}}
{{d.cl|safe}}

<!--<script>-->
<!--var sync;-->
<!--var gs;-->

<!--window.update = function() {-->
    <!--var chk = document.getElementById('chk-sync').checked;-->

    <!--if(chk) {-->
        <!--sync = Dygraph.synchronize(gs,{range: false});-->
    <!--}-->
    <!--else {-->
        <!--sync.detach();-->
	    <!--for (i = 0; i < 2; ++i) {-->
			<!--gs[i].updateOptions({-->
          <!--dateWindow: null,-->
			    <!--valueRange: null-->
		    <!--});-->
        <!--}-->
    <!--}-->
<!--}-->
<!--</script>-->


<button id="b">click</button>
<button id="dyb">dygraphsajax</button>
<div id="dygraphsajax"></div>
<!--<input type="checkbox" id="chk-sync" onchange="update()"><label for="chk-sync">Sync</label>-->
<!--<script type=text/javascript>-->
<!--gs = [];-->
<!--var w=0;-->
  <!--$(function() {-->
    <!--$('#dyb').bind('click', function() {-->
        <!--var d=`<div id = "dygraphsajax{0}" className="few"></div>`.format(w)-->
        <!--var id ='dygraphsajax'+w-->
        <!--$('#tabs-1').append(d);-->
      <!--$.getJSON($SCRIPT_ROOT + '/dygraphsajax/', {-->
        <!--aa: 0,-->
        <!--bb: 1-->
      <!--}, function(data) {-->
          <!--gs.push(new Dygraph(document.getElementById(id),-->
                <!--[-->
                  <!--[1,10,100,10],-->
                  <!--[2,20,'NaN',30],-->
                  <!--[3,'NaN',60,40],-->
                  <!--[4,70,80,20]-->
                <!--],-->
                <!--{-->
                  <!--labels: [ "x", "A", "B", "C" ]-->
                <!--}));-->
      <!--});-->
      <!--w+=1-->
      <!--return false;-->
    <!--});-->
  <!--});-->
<!--</script>-->

</body>
</html>
